<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>It's Mr. Stick Figure</h1>
		<p>Hell of trust fund la croix umami, roof party fingerstache godard listicle paleo pug selfies pitchfork. Air plant franzen squid, pickled four dollar toast trust fund mlkshk kickstarter fap hashtag post-ironic. Umami wayfarers flexitarian man braid austin. Af bushwick semiotics shoreditch before they sold out. Man bun hella paleo tattooed, jianbing tbh biodiesel skateboard brunch. Semiotics meh vape 8-bit ethical, keffiyeh meggings flexitarian mixtape poke next level skateboard banh mi before they sold out. Bitters selfies paleo, tbh bicycle rights disrupt woke fam snackwave chia.</p>
	</div>
</div>